.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v17/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.maincolor{
    color: #607d8b;
}
#footer{
}
.text-block{

}
.info-img{
    display: block;
    margin: 0 auto;
    max-height: 70%;
    max-width: 70%;
}
.mainfont{
    font-family: 'Ubuntu', sans-serif;!important;
}
.jumbotron{
    margin-bottom: 0px;!important;
}
html,body {
    /*font-family: 'Ubuntu', sans-serif;!important;*/
}
@media (max-width: 991px) {
    .info-block{
        border: 1px solid #bfbfbf;
    }
    .info-block-center{
        border: 1px solid #bfbfbf;
        border-top: 0px;
        border-bottom: 0px;
    }
}
@media (min-width: 992px) {
    .info-block {
        border: 1px solid #bfbfbf;
    }

    .info-block-center {
        border: 1px solid #bfbfbf;
        border-left: 0px;
        border-right: 0px;
    }
}
.info-container{
    background-color: #f5f5f5;
}
#mainpanel{
    background-color: #607d8b;
    background-image: url(../img/jumbotron.jpg);
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: contain;
    min-height: 500px;
}
@font-face {
    font-family: Cuprum;
    src: url(../font/Cuprum-Bold.ttf);
}
#nav {
    min-height: 70px;
}
.navel{
    padding-top: 10px;
}
#regbutton {
    width: 100%;
}
#button-reg{
    width: 50%;
}
.maintext{
    color: white!important;
}
.button-plan{
    background-color: #607d8b!important;
    border-color: #607d8b!important;
    width: 95%;
}
.button-color {
    background-color: #607d8b!important;
    border-color: #607d8b!important;
}
.button-nav{
    margin: 0 10px 0 0;
}
.body-info{
    background-color: #f5f5f5;
}
.block{
    min-height: 400px;
}
.hr-info{
    height: 1px;
    margin: 40px 0;
    clear: both;
    background-image: linear-gradient(to right, #607d8b 33.3333%, #5cb85c 66.6666%, #fc0303 66.6666%);
}
.s-panel{
    margin-top: 5%;
}
.set-span{
    margin-left: 30%;
    color: #607d8b;
    font-weight: bold;
}
.settingsAlert{
    margin-top: 5px;
    padding: 10px;
    margin-bottom: 0px;
}
.settingsAlert button{
    padding-right: 20px;
}
.li-setting{
    border-bottom: 1px solid #EEEEEE;
    padding: 5px;
    padding-top: 8px;
    margin-bottom: 0px;
}
.active-set{
    background-color: #EEEEEE;
}
.li-setting:hover{
    cursor: pointer;
    background-color: #EEEEEE;
}
.li-setting span{
    color: #7294a2;
    font-weight: bold;
}
.li-setting span{
    padding-left: 5px;
}
.settings-head{
    font-weight: bold;
}
.set-btn{
    float: right;
}
.set-list{
    padding: 3px;
}
.progress{
    margin-bottom: 0px;!important;
}
.st-info{
    width: 100%;
}
.st{
    margin-top: 2px;
    min-height: 16px;
    font-size: 12px;
    color: #8c8c8c;
    float: right;
 }
.set-hr{
    height: 2px;
    margin: 40px 0;
    margin-bottom: 15px;
    clear: both;
    color: #000;
}
.set-pr{
    background-color: #607d8b;
}
.btn-plan{

}
.body{
    background-image: linear-gradient(180deg, #f5f5f5, #fff);
}
.lib-body{
    padding-top: 3%;
}
.preview-book{
    width: 100%;
    height: 300px;
    padding:8px;
}
.settings{
    padding-top: 5%;
}
.name-book{
    overflow: hidden;
    white-space: nowrap;
}

.preview-book-cover{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: 100%;
}
.progress-info{
    padding-right: 5px;
    font-weight: 600;
    color: #607d8b;
    margin-top: 7px;
}
.navbar-default{
    background-color: #FFFFFF!important;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
#headinfo{
    font-size: 3em;
}
.button-reg {
    padding-top: 5%;

}
#login-form{
    padding-top: 5%;
}
#login-div {
    padding-top: 5%;
 }
#width-full {
    width: 100%;
}
.main-jumbotron{
    padding-top: 10%;
}
.img-footer{
    max-height: 25%;
    max-width: 25%;
}
#footer {
    min-height: 80px;
    padding-top: 20px;
    width: 100%;
    background-color: #f5f5f5;
    margin-top: 5%;
}
.regform{
    padding-top: 3%;
}
.width-full {
    width: 100%;
}
.info-text{
    color: #8c8c8c;
}
.table-reg{
    display: table;
    width: 100%;
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
    margin: 30px auto 0;
    overflow: hidden;
    list-style: none;
}
.table-reg li:first-child{
    border-left: 0;
}
.table-reg li.current{
    color: #333333;
    background-color: #FFFFFF;
}
.success-col{
    color: #5cb85c;
}
.alert-col{
    color: #a94442;
}
.table-reg li {
    display: table-cell;
    width: 33.3%;
    padding: 10px 15px;
    color: #ccc;
    cursor: default;
    background-color: #fafafa;
    border-left: 1px solid #ddd;
}
.done{
    padding-left: 5%;
    font-size: 3em;
}
li{
    text-align: -webkit-match-parent;
}
.step-column{
    border-right: 2px solid #ccc;
    width: 33%!important;
}
.table-reg li .icon{
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
}
.form-reg{
    padding-top: 3%;
}
.info-reg{
    min-height: 16px;
    font-size: 12px;
    color: #8c8c8c;
    margin: 4px 0 30px 0;
}
.info-plan{
     min-height: 16px;
     font-size: 18px;
     color: #8c8c8c;
     margin: 4px 0 30px 0;
 }
body {
    height: 100%;
}
.btn-rad{
    border-radius: 0px;!important;
}
.alert-error {
    margin-bottom: 0px;!important;
}
#scrollable-menu {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
}
.wrap {
    min-height: 100%;
    position: relative;}
[rel="main"] {
    padding-bottom: 100px;
}
footer {
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0;
    bottom: 0;
}
@media (max-width: 768px) {
    ul.hr {
        margin: 0;
    }

    ul.hr li {
        display: inline;
        margin-right: 20px;
    }
}
@media (min-width: 768px) {
    .li-nav {
        padding-top: 4%;
    }
    .li-nav-read{
        margin-right: 2%;
    }
    .li-nav-progress {
        padding-top: 4%;
        margin-right: 10px;
    }
}
.nav-btn{
    position: fixed;
    top: 50%;
}
#li-nav {
    padding-top: 8%;
}
.text-message{
    font-size: 2em;
}
.info-panel{
    padding-top: 80px;
    padding-bottom: 80px;
}
.page{
    height: 100%;
    position: fixed;
    top: 50%;
    font-size: 64px;
    color: #E2E2E2;
    font-family: arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.page:hover {
    color: #777;
}
